.projects .item {
  margin-bottom: 30px;
}

.projects .item .title {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 1.5;
}

.projects .item .title a {
  color: #778492;
}

.projects .item .title a:hover {
  color: #5f6b77;
}

.projects .item .project-image {
  height: 200px;
  width: auto;
}

.projects .item .mb-2 {
  font-size: 15px;
}

.projects .item .links span {
  margin-right: 10px;
}

@media (max-width: 767.98px) {
  .project-image {
    margin-bottom: 15px;
  }
}

body {
    font-family: 'Lato', arial, sans-serif;
    color: #434343;
    background: #DAE3E7;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}